.topnav {
  overflow: hidden;

}

.topnav a {
  float: left;
  color: #141FCD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
}

.topnav a:hover{
  background-color: #DCDCDC;
  color: #041859;
}

.header {
  text-align: center;
  margin-top: 0px;
}

 h1 {
  font-size: 125px;
  color : #ffffff
}

.main {
  font-size: 45px;
  color : #ffffff
}

.about {
    text-align: center;
    font-size: 30px;
}

p, h4 {
    color : #ffffff
}

body {
  background-image: url(https://cdn.wallpapersafari.com/40/34/i2VIBQ.jpeg);
  background-position: 100%;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
}


h4 {
  border-width: 15px;
  font-size: 15px;

}
#form{
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  width: 100%;
  border-radius: 30px;
  font-style: italic;
}

input[type=text], select {
  color: #ffffff;
  text-align: center;
  margin:8px 0;
  width: 100%;
  padding: 15px 20px;
  border-radius: 30px;
  box-sizing:border-box;
  font-style: italic;
 }
 #submit{
   box-shadow: inset -3px -3px 10px #eee;
   border-radius: 15px;
   font-size: 25px;
   color: #141FCD;
   text-align: center;
}
#comment{
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  body {

  }
}
