.topnav {
  overflow: hidden;

}

.topnav a {
  float: left;
  color: #141FCD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
}

.topnav a:hover{
  background-color: #DCDCDC;
  color: #041859;
}

.header {
  text-align: center;
  margin-top: 0px;
}

 h1 {
  font-size: 125px;
  color : #ffffff
}

.main {
  font-size: 45px;
  color : #ffffff
}

.about {
    text-align: center;
    font-size: 30px;
}

p, h4 {
    color : #ffffff
}

body {
  background-image: url(https://cdn.wallpapersafari.com/40/34/i2VIBQ.jpeg);
  background-position: 100%;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
}

@@media screen and (max-width: 600px) {

}

#teamwork {
border: solid 0px;
width:100%;
height: 600px;
float: inherit;
flex-direction: row;
text-align: center;
}

.name1 {
  font-size: 40px;
  width: 25%;
  border: solid 0px;
  color: 	#FFFFFF;
  float: left;
  text-align: center;
}

.name2 {
  font-size: 40px;
  width: 25%;
  border: solid 0px;
  color: 	#FFFFFF;
  float: left;
  text-align: center;

}

.name3 {
  font-size: 40px;
  width: 25%;
  border: solid 0px;
  color: 	#FFFFFF;
  float: right;
  text-align: center;
}

.name4 {
  font-size: 40px;
  width: 25%;
  border: solid 0px;
  color: 	#FFFFFF;
  float: right;
  text-align: center;
}
